@{
    ViewBag.Title = "Setting for Embed";
    string tenantId = ViewBag.TenantId;
    string clientId = ViewBag.ClientId;
    string clientSecret = ViewBag.ClientSecret;
    string reportId = ViewBag.ReportId;
}

<h1>Setting</h1>


<div class="row">
    <div class="mb-3">
        <label for="fTenantId" class="form-label">Tenant Id</label>
        <input type="text" class="form-control" id="fTenantId" aria-describedby="fTenantId" value="@tenantId">
    </div>
    <div class="mb-3">
        <label for="fClientId" class="form-label">Client Id</label>
        <input type="text" class="form-control" id="fClientId" aria-describedby="fClientId" value="@clientId">
    </div>
    <div class="mb-3">
        <label for="fClientSecret" class="form-label">Client secret</label>
        <input type="password" class="form-control" id="fClientSecret" value="@clientSecret">
    </div>
    <div class="mb-3">
        <label for="fReportId" class="form-label">ReportId</label>
        <input type="text" class="form-control" id="fReportId" aria-describedby="fReportId" value=@reportId>
    </div>
    <div class="button-container col-lg-1 col-md-12">
        <button class="embed-button" id="fSaveSetting">Save</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#fSaveSetting').click(function () {
                var settingModel = {
                    'tenantId': $('#fTenantId').val(),
                    'clientId': $('#fClientId').val(),
                    'clientSecret': $('#fClientSecret').val(),
                    'reportId': $('#fReportId').val(),
                };
                $.ajax({
                    url: "/Home/SaveSetting",
                    type: "POST",
                    data: settingModel,
                    success: function (data) {
                        alert(data.message);
                    }
                });
            });
        });
    </script>

}